/*============================================

	'Hex': '#5687bf',  'colorName': 'blue-1'

============================================*/
body.blue-1 #pricing li:hover .price-inner {
    border: 1px solid #5687bf;
}
body.blue-1 #banner .text-slider h3, body.blue-1 .port-over .over-info, body.blue-1 .inspectors .teach-over, body.blue-1 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(86, 135, 191,0.8);
}
body.blue-1 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #5687bf;
}
body.blue-1 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.blue-1 .missing-2 .cont .change {
	color: #5687bf;
}
body.blue-1 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.blue-1 #banner .text-slider button.btn {
	background: #5687bf;
	border: none;
}
body.blue-1 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.blue-1 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.blue-1 #banner .text-slider .btn:hover {
	background: #5687bf;
	border-color: #5687bf;
}
body.blue-1 .top-bar, body.blue-1 header nav li a:hover {
	border-color: #5687bf;
}
body.blue-1 .pagination > li > a:hover, body.blue-1 .intrested-2 {
	background: #5687bf;
}
body.blue-1 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #5687bf;
}
body.blue-1 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.blue-1 .tittle h3, #feature li:hover .icon, body.blue-1 .port-over .over-info a:hover {
	color: #5687bf;
}
body.blue-1 #pricing .price-inner .check-gr i {
	color: #5687bf !important;
}
body.blue-1 #pricing .price-inner .btn, body.blue-1 .logo a .logo-hex {
	background: #5687bf;
}
body.blue-1 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.blue-1 .quote .btn:hover {
	color: #5687bf;
}
body.blue-1 header .navbar-default .navbar-nav > li > a:hover, body.blue-1 .navbar-default .navbar-nav > li > a:focus {
	color: #5687bf;
}
body.blue-1 header .navbar-default .navbar-nav > .active > a, body.blue-1 .navbar-default .navbar-nav > .active > a:hover, body.blue-1 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #5687bf;
	color: #5687bf;
}
body.blue-1 .btn, body.blue-1 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.blue-1 .btn:hover, body.blue-1 .intrested-2 .intres-lesson .btn:hover {
	background: #5687bf;
}
body.blue-1 .quote, body.blue-1 footer button, body.blue-1 .intres-lesson .btn, body.blue-1 .products .pro-info .btn, body.blue-1 .nav-tabs .nav-pills > li.active > a, body.blue-1 .nav-pills > li.active > a:hover, body.blue-1 .nav-pills > li.active > a:focus {
	background: #5687bf;
}
body.blue-1 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.blue-1 #feature li:hover .inner, body.blue-1 .filter li a.active, body.blue-1 .filter li a:hover, body.blue-1 .products .pro-info .btn-1:hover {
	background: #5687bf;
	border-color: #5687bf;
}
body.blue-1 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.blue-1 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.blue-1 .products .pro-info .btn {
}
body.blue-1 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.blue-1 section.quote .btn{
     background: #5687bf;
}
body.blue-1 section.quote .btn:hover{
     background: white;
     color: #5687bf;
}
body.blue-1 .dropdown-menu > .active > a{
  background-color: #5687bf;
}

/*============================================

	'Hex': '#22A7F0',  'colorName': 'blue-2'

============================================*/
body.blue-2 #pricing li:hover .price-inner {
    border: 1px solid #22A7F0;
}
body.blue-2 #banner .text-slider h3, body.blue-2 .port-over .over-info, body.blue-2 .inspectors .teach-over, body.blue-2 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(34, 167, 240,0.8);
}
body.blue-2 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #22A7F0;
}
body.blue-2 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.blue-2 .missing-2 .cont .change {
	color: #22A7F0;
}
body.blue-2 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.blue-2 #banner .text-slider button.btn {
	background: #22A7F0;
	border: none;
}
body.blue-2 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.blue-2 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.blue-2 #banner .text-slider .btn:hover {
	background: #22A7F0;
	border-color: #22A7F0;
}
body.blue-2 .top-bar, body.blue-2 header nav li a:hover {
	border-color: #22A7F0;
}
body.blue-2 .pagination > li > a:hover, body.blue-2 .intrested-2 {
	background: #22A7F0;
}
body.blue-2 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #22A7F0;
}
body.blue-2 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.blue-2 .tittle h3, #feature li:hover .icon, body.blue-2 .port-over .over-info a:hover {
	color: #22A7F0;
}
body.blue-2 #pricing .price-inner .check-gr i {
	color: #22A7F0 !important;
}
body.blue-2 #pricing .price-inner .btn, body.blue-2 .logo a .logo-hex {
	background: #22A7F0;
}
body.blue-2 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.blue-2 .quote .btn:hover {
	color: #22A7F0;
}
body.blue-2 header .navbar-default .navbar-nav > li > a:hover, body.blue-2 .navbar-default .navbar-nav > li > a:focus {
	color: #22A7F0;
}
body.blue-2 header .navbar-default .navbar-nav > .active > a, body.blue-2 .navbar-default .navbar-nav > .active > a:hover, body.blue-2 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #22A7F0;
	color: #22A7F0;
}
body.blue-2 .btn, body.blue-2 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.blue-2 .btn:hover, body.blue-2 .intrested-2 .intres-lesson .btn:hover {
	background: #22A7F0;
}
body.blue-2 .quote, body.blue-2 footer button, body.blue-2 .intres-lesson .btn, body.blue-2 .products .pro-info .btn, body.blue-2 .nav-tabs .nav-pills > li.active > a, body.blue-2 .nav-pills > li.active > a:hover, body.blue-2 .nav-pills > li.active > a:focus {
	background: #22A7F0;
}
body.blue-2 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.blue-2 #feature li:hover .inner, body.blue-2 .filter li a.active, body.blue-2 .filter li a:hover, body.blue-2 .products .pro-info .btn-1:hover {
	background: #22A7F0;
	border-color: #22A7F0;
}
body.blue-2 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.blue-2 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.blue-2 .products .pro-info .btn {
}
body.blue-2 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.blue-2 section.quote .btn{
     background: #22A7F0;
}
body.blue-2 section.quote .btn:hover{
     background: white;
     color: #22A7F0;
}
body.blue-2 .dropdown-menu > .active > a{
  background-color: #22A7F0;
}

/*============================================

	'Hex': '#b8a279',  'colorName': 'cumin'

============================================*/
body.cumin #pricing li:hover .price-inner {
    border: 1px solid #b8a279;
}
body.cumin #banner .text-slider h3, body.cumin .port-over .over-info, body.cumin .inspectors .teach-over, body.cumin #testimonial .carousel-indicators li .feeder-name {
	background: rgba(184, 162, 121,0.8);
}
body.cumin #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #b8a279;
}
body.cumin #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.cumin .missing-2 .cont .change {
	color: #b8a279;
}
body.cumin #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.cumin #banner .text-slider button.btn {
	background: #b8a279;
	border: none;
}
body.cumin #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.cumin #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.cumin #banner .text-slider .btn:hover {
	background: #b8a279;
	border-color: #b8a279;
}
body.cumin .top-bar, body.cumin header nav li a:hover {
	border-color: #b8a279;
}
body.cumin .pagination > li > a:hover, body.cumin .intrested-2 {
	background: #b8a279;
}
body.cumin #pricing.pricing-2 .price-inner.papu {
	border-top-color: #b8a279;
}
body.cumin #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.cumin .tittle h3, #feature li:hover .icon, body.cumin .port-over .over-info a:hover {
	color: #b8a279;
}
body.cumin #pricing .price-inner .check-gr i {
	color: #b8a279 !important;
}
body.cumin #pricing .price-inner .btn, body.cumin .logo a .logo-hex {
	background: #b8a279;
}
body.cumin #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.cumin .quote .btn:hover {
	color: #b8a279;
}
body.cumin header .navbar-default .navbar-nav > li > a:hover, body.cumin .navbar-default .navbar-nav > li > a:focus {
	color: #b8a279;
}
body.cumin header .navbar-default .navbar-nav > .active > a, body.cumin .navbar-default .navbar-nav > .active > a:hover, body.cumin .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #b8a279;
	color: #b8a279;
}
body.cumin .btn, body.cumin .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.cumin .btn:hover, body.cumin .intrested-2 .intres-lesson .btn:hover {
	background: #b8a279;
}
body.cumin .quote, body.cumin footer button, body.cumin .intres-lesson .btn, body.cumin .products .pro-info .btn, body.cumin .nav-tabs .nav-pills > li.active > a, body.cumin .nav-pills > li.active > a:hover, body.cumin .nav-pills > li.active > a:focus {
	background: #b8a279;
}
body.cumin .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.cumin #feature li:hover .inner, body.cumin .filter li a.active, body.cumin .filter li a:hover, body.cumin .products .pro-info .btn-1:hover {
	background: #b8a279;
	border-color: #b8a279;
}
body.cumin #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.cumin #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.cumin .products .pro-info .btn {
}
body.cumin #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.cumin section.quote .btn{
     background: #b8a279;
}
body.cumin section.quote .btn:hover{
     background: white;
     color: #b8a279;
}
body.cumin .dropdown-menu > .active > a{
  background-color: #b8a279;
}

/*============================================

	'Hex': '#a0913d',  'colorName': 'gold'

============================================*/
body.gold #pricing li:hover .price-inner {
    border: 1px solid #a0913d;
}
body.gold #banner .text-slider h3, body.gold .port-over .over-info, body.gold .inspectors .teach-over, body.gold #testimonial .carousel-indicators li .feeder-name {
	background: rgba(160, 145, 61,0.8);
}
body.gold #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #a0913d;
}
body.gold #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.gold .missing-2 .cont .change {
	color: #a0913d;
}
body.gold #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.gold #banner .text-slider button.btn {
	background: #a0913d;
	border: none;
}
body.gold #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.gold #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.gold #banner .text-slider .btn:hover {
	background: #a0913d;
	border-color: #a0913d;
}
body.gold .top-bar, body.gold header nav li a:hover {
	border-color: #a0913d;
}
body.gold .pagination > li > a:hover, body.gold .intrested-2 {
	background: #a0913d;
}
body.gold #pricing.pricing-2 .price-inner.papu {
	border-top-color: #a0913d;
}
body.gold #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.gold .tittle h3, #feature li:hover .icon, body.gold .port-over .over-info a:hover {
	color: #a0913d;
}
body.gold #pricing .price-inner .check-gr i {
	color: #a0913d !important;
}
body.gold #pricing .price-inner .btn, body.gold .logo a .logo-hex {
	background: #a0913d;
}
body.gold #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.gold .quote .btn:hover {
	color: #a0913d;
}
body.gold header .navbar-default .navbar-nav > li > a:hover, body.gold .navbar-default .navbar-nav > li > a:focus {
	color: #a0913d;
}
body.gold header .navbar-default .navbar-nav > .active > a, body.gold .navbar-default .navbar-nav > .active > a:hover, body.gold .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #a0913d;
	color: #a0913d;
}
body.gold .btn, body.gold .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.gold .btn:hover, body.gold .intrested-2 .intres-lesson .btn:hover {
	background: #a0913d;
}
body.gold .quote, body.gold footer button, body.gold .intres-lesson .btn, body.gold .products .pro-info .btn, body.gold .nav-tabs .nav-pills > li.active > a, body.gold .nav-pills > li.active > a:hover, body.gold .nav-pills > li.active > a:focus {
	background: #a0913d;
}
body.gold .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.gold #feature li:hover .inner, body.gold .filter li a.active, body.gold .filter li a:hover, body.gold .products .pro-info .btn-1:hover {
	background: #a0913d;
	border-color: #a0913d;
}
body.gold #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.gold #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.gold .products .pro-info .btn {
}
body.gold #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.gold section.quote .btn{
     background: #a0913d;
}
body.gold section.quote .btn:hover{
     background: white;
     color: #a0913d;
}
body.gold .dropdown-menu > .active > a{
  background-color: #a0913d;
}

/*============================================

	'Hex': '#3c3c3c',  'colorName': 'gray'

============================================*/
body.gray #pricing li:hover .price-inner {
    border: 1px solid #3c3c3c;
}
body.gray #banner .text-slider h3, body.gray .port-over .over-info, body.gray .inspectors .teach-over, body.gray #testimonial .carousel-indicators li .feeder-name {
	background: rgba(60, 60, 60,0.8);
}
body.gray #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #3c3c3c;
}
body.gray #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.gray .missing-2 .cont .change {
	color: #3c3c3c;
}
body.gray #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.gray #banner .text-slider button.btn {
	background: #3c3c3c;
	border: none;
}
body.gray #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.gray #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.gray #banner .text-slider .btn:hover {
	background: #3c3c3c;
	border-color: #3c3c3c;
}
body.gray .top-bar, body.gray header nav li a:hover {
	border-color: #3c3c3c;
}
body.gray .pagination > li > a:hover, body.gray .intrested-2 {
	background: #3c3c3c;
}
body.gray #pricing.pricing-2 .price-inner.papu {
	border-top-color: #3c3c3c;
}
body.gray #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.gray .tittle h3, #feature li:hover .icon, body.gray .port-over .over-info a:hover {
	color: #3c3c3c;
}
body.gray #pricing .price-inner .check-gr i {
	color: #3c3c3c !important;
}
body.gray #pricing .price-inner .btn, body.gray .logo a .logo-hex {
	background: #3c3c3c;
}
body.gray #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.gray .quote .btn:hover {
	color: #3c3c3c;
}
body.gray header .navbar-default .navbar-nav > li > a:hover, body.gray .navbar-default .navbar-nav > li > a:focus {
	color: #3c3c3c;
}
body.gray header .navbar-default .navbar-nav > .active > a, body.gray .navbar-default .navbar-nav > .active > a:hover, body.gray .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #3c3c3c;
	color: #3c3c3c;
}
body.gray .btn, body.gray .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.gray .btn:hover, body.gray .intrested-2 .intres-lesson .btn:hover {
	background: #3c3c3c;
}
body.gray .quote, body.gray footer button, body.gray .intres-lesson .btn, body.gray .products .pro-info .btn, body.gray .nav-tabs .nav-pills > li.active > a, body.gray .nav-pills > li.active > a:hover, body.gray .nav-pills > li.active > a:focus {
	background: #3c3c3c;
}
body.gray .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.gray #feature li:hover .inner, body.gray .filter li a.active, body.gray .filter li a:hover, body.gray .products .pro-info .btn-1:hover {
	background: #3c3c3c;
	border-color: #3c3c3c;
}
body.gray #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.gray #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.gray .products .pro-info .btn {
}
body.gray #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.gray section.quote .btn{
     background: #3c3c3c;
}
body.gray section.quote .btn:hover{
     background: white;
     color: #3c3c3c;
}
body.gray .dropdown-menu > .active > a{
  background-color: #3c3c3c;
}

/*============================================

	'Hex': '#2e9063',  'colorName': 'green-1'

============================================*/
body.green-1 #pricing li:hover .price-inner {
    border: 1px solid #2e9063;
}
body.green-1 #banner .text-slider h3, body.green-1 .port-over .over-info, body.green-1 .inspectors .teach-over, body.green-1 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(46, 144, 99,0.8);
}
body.green-1 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #2e9063;
}
body.green-1 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.green-1 .missing-2 .cont .change {
	color: #2e9063;
}
body.green-1 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.green-1 #banner .text-slider button.btn {
	background: #2e9063;
	border: none;
}
body.green-1 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.green-1 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.green-1 #banner .text-slider .btn:hover {
	background: #2e9063;
	border-color: #2e9063;
}
body.green-1 .top-bar, body.green-1 header nav li a:hover {
	border-color: #2e9063;
}
body.green-1 .pagination > li > a:hover, body.green-1 .intrested-2 {
	background: #2e9063;
}
body.green-1 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #2e9063;
}
body.green-1 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.green-1 .tittle h3, #feature li:hover .icon, body.green-1 .port-over .over-info a:hover {
	color: #2e9063;
}
body.green-1 #pricing .price-inner .check-gr i {
	color: #2e9063 !important;
}
body.green-1 #pricing .price-inner .btn, body.green-1 .logo a .logo-hex {
	background: #2e9063;
}
body.green-1 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.green-1 .quote .btn:hover {
	color: #2e9063;
}
body.green-1 header .navbar-default .navbar-nav > li > a:hover, body.green-1 .navbar-default .navbar-nav > li > a:focus {
	color: #2e9063;
}
body.green-1 header .navbar-default .navbar-nav > .active > a, body.green-1 .navbar-default .navbar-nav > .active > a:hover, body.green-1 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #2e9063;
	color: #2e9063;
}
body.green-1 .btn, body.green-1 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.green-1 .btn:hover, body.green-1 .intrested-2 .intres-lesson .btn:hover {
	background: #2e9063;
}
body.green-1 .quote, body.green-1 footer button, body.green-1 .intres-lesson .btn, body.green-1 .products .pro-info .btn, body.green-1 .nav-tabs .nav-pills > li.active > a, body.green-1 .nav-pills > li.active > a:hover, body.green-1 .nav-pills > li.active > a:focus {
	background: #2e9063;
}
body.green-1 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.green-1 #feature li:hover .inner, body.green-1 .filter li a.active, body.green-1 .filter li a:hover, body.green-1 .products .pro-info .btn-1:hover {
	background: #2e9063;
	border-color: #2e9063;
}
body.green-1 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.green-1 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.green-1 .products .pro-info .btn {
}
body.green-1 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.green-1 section.quote .btn{
     background: #2e9063;
}
body.green-1 section.quote .btn:hover{
     background: white;
     color: #2e9063;
}
body.green-1 .dropdown-menu > .active > a{
  background-color: #2e9063;
}

/*============================================

	'Hex': '#89c144',  'colorName': 'green-2'

============================================*/
body.green-2 #pricing li:hover .price-inner {
    border: 1px solid #89c144;
}
body.green-2 #banner .text-slider h3, body.green-2 .port-over .over-info, body.green-2 .inspectors .teach-over, body.green-2 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(137, 193, 68,0.8);
}
body.green-2 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #89c144;
}
body.green-2 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.green-2 .missing-2 .cont .change {
	color: #89c144;
}
body.green-2 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.green-2 #banner .text-slider button.btn {
	background: #89c144;
	border: none;
}
body.green-2 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.green-2 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.green-2 #banner .text-slider .btn:hover {
	background: #89c144;
	border-color: #89c144;
}
body.green-2 .top-bar, body.green-2 header nav li a:hover {
	border-color: #89c144;
}
body.green-2 .pagination > li > a:hover, body.green-2 .intrested-2 {
	background: #89c144;
}
body.green-2 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #89c144;
}
body.green-2 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.green-2 .tittle h3, #feature li:hover .icon, body.green-2 .port-over .over-info a:hover {
	color: #89c144;
}
body.green-2 #pricing .price-inner .check-gr i {
	color: #89c144 !important;
}
body.green-2 #pricing .price-inner .btn, body.green-2 .logo a .logo-hex {
	background: #89c144;
}
body.green-2 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.green-2 .quote .btn:hover {
	color: #89c144;
}
body.green-2 header .navbar-default .navbar-nav > li > a:hover, body.green-2 .navbar-default .navbar-nav > li > a:focus {
	color: #89c144;
}
body.green-2 header .navbar-default .navbar-nav > .active > a, body.green-2 .navbar-default .navbar-nav > .active > a:hover, body.green-2 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #89c144;
	color: #89c144;
}
body.green-2 .btn, body.green-2 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.green-2 .btn:hover, body.green-2 .intrested-2 .intres-lesson .btn:hover {
	background: #89c144;
}
body.green-2 .quote, body.green-2 footer button, body.green-2 .intres-lesson .btn, body.green-2 .products .pro-info .btn, body.green-2 .nav-tabs .nav-pills > li.active > a, body.green-2 .nav-pills > li.active > a:hover, body.green-2 .nav-pills > li.active > a:focus {
	background: #89c144;
}
body.green-2 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.green-2 #feature li:hover .inner, body.green-2 .filter li a.active, body.green-2 .filter li a:hover, body.green-2 .products .pro-info .btn-1:hover {
	background: #89c144;
	border-color: #89c144;
}
body.green-2 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.green-2 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.green-2 .products .pro-info .btn {
}
body.green-2 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.green-2 section.quote .btn{
     background: #89c144;
}
body.green-2 section.quote .btn:hover{
     background: white;
     color: #89c144;
}
body.green-2 .dropdown-menu > .active > a{
  background-color: #89c144;
}

/*============================================

	'Hex': '#e47911',  'colorName': 'orange-1'

============================================*/
body.orange-1 #pricing li:hover .price-inner {
    border: 1px solid #e47911;
}
body.orange-1 #banner .text-slider h3, body.orange-1 .port-over .over-info, body.orange-1 .inspectors .teach-over, body.orange-1 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(228, 121, 17,0.8);
}
body.orange-1 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #e47911;
}
body.orange-1 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.orange-1 .missing-2 .cont .change {
	color: #e47911;
}
body.orange-1 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.orange-1 #banner .text-slider button.btn {
	background: #e47911;
	border: none;
}
body.orange-1 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.orange-1 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.orange-1 #banner .text-slider .btn:hover {
	background: #e47911;
	border-color: #e47911;
}
body.orange-1 .top-bar, body.orange-1 header nav li a:hover {
	border-color: #e47911;
}
body.orange-1 .pagination > li > a:hover, body.orange-1 .intrested-2 {
	background: #e47911;
}
body.orange-1 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #e47911;
}
body.orange-1 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.orange-1 .tittle h3, #feature li:hover .icon, body.orange-1 .port-over .over-info a:hover {
	color: #e47911;
}
body.orange-1 #pricing .price-inner .check-gr i {
	color: #e47911 !important;
}
body.orange-1 #pricing .price-inner .btn, body.orange-1 .logo a .logo-hex {
	background: #e47911;
}
body.orange-1 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.orange-1 .quote .btn:hover {
	color: #e47911;
}
body.orange-1 header .navbar-default .navbar-nav > li > a:hover, body.orange-1 .navbar-default .navbar-nav > li > a:focus {
	color: #e47911;
}
body.orange-1 header .navbar-default .navbar-nav > .active > a, body.orange-1 .navbar-default .navbar-nav > .active > a:hover, body.orange-1 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #e47911;
	color: #e47911;
}
body.orange-1 .btn, body.orange-1 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.orange-1 .btn:hover, body.orange-1 .intrested-2 .intres-lesson .btn:hover {
	background: #e47911;
}
body.orange-1 .quote, body.orange-1 footer button, body.orange-1 .intres-lesson .btn, body.orange-1 .products .pro-info .btn, body.orange-1 .nav-tabs .nav-pills > li.active > a, body.orange-1 .nav-pills > li.active > a:hover, body.orange-1 .nav-pills > li.active > a:focus {
	background: #e47911;
}
body.orange-1 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.orange-1 #feature li:hover .inner, body.orange-1 .filter li a.active, body.orange-1 .filter li a:hover, body.orange-1 .products .pro-info .btn-1:hover {
	background: #e47911;
	border-color: #e47911;
}
body.orange-1 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.orange-1 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.orange-1 .products .pro-info .btn {
}
body.orange-1 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.orange-1 section.quote .btn{
     background: #e47911;
}
body.orange-1 section.quote .btn:hover{
     background: white;
     color: #e47911;
}
body.orange-1 .dropdown-menu > .active > a{
  background-color: #e47911;
}

/*============================================

	'Hex': '#e48f4c',  'colorName': 'orange-2'

============================================*/
body.orange-2 #pricing li:hover .price-inner {
    border: 1px solid #e48f4c;
}
body.orange-2 #banner .text-slider h3, body.orange-2 .port-over .over-info, body.orange-2 .inspectors .teach-over, body.orange-2 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(228, 143, 76,0.8);
}
body.orange-2 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #e48f4c;
}
body.orange-2 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.orange-2 .missing-2 .cont .change {
	color: #e48f4c;
}
body.orange-2 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.orange-2 #banner .text-slider button.btn {
	background: #e48f4c;
	border: none;
}
body.orange-2 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.orange-2 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.orange-2 #banner .text-slider .btn:hover {
	background: #e48f4c;
	border-color: #e48f4c;
}
body.orange-2 .top-bar, body.orange-2 header nav li a:hover {
	border-color: #e48f4c;
}
body.orange-2 .pagination > li > a:hover, body.orange-2 .intrested-2 {
	background: #e48f4c;
}
body.orange-2 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #e48f4c;
}
body.orange-2 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.orange-2 .tittle h3, #feature li:hover .icon, body.orange-2 .port-over .over-info a:hover {
	color: #e48f4c;
}
body.orange-2 #pricing .price-inner .check-gr i {
	color: #e48f4c !important;
}
body.orange-2 #pricing .price-inner .btn, body.orange-2 .logo a .logo-hex {
	background: #e48f4c;
}
body.orange-2 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.orange-2 .quote .btn:hover {
	color: #e48f4c;
}
body.orange-2 header .navbar-default .navbar-nav > li > a:hover, body.orange-2 .navbar-default .navbar-nav > li > a:focus {
	color: #e48f4c;
}
body.orange-2 header .navbar-default .navbar-nav > .active > a, body.orange-2 .navbar-default .navbar-nav > .active > a:hover, body.orange-2 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #e48f4c;
	color: #e48f4c;
}
body.orange-2 .btn, body.orange-2 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.orange-2 .btn:hover, body.orange-2 .intrested-2 .intres-lesson .btn:hover {
	background: #e48f4c;
}
body.orange-2 .quote, body.orange-2 footer button, body.orange-2 .intres-lesson .btn, body.orange-2 .products .pro-info .btn, body.orange-2 .nav-tabs .nav-pills > li.active > a, body.orange-2 .nav-pills > li.active > a:hover, body.orange-2 .nav-pills > li.active > a:focus {
	background: #e48f4c;
}
body.orange-2 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.orange-2 #feature li:hover .inner, body.orange-2 .filter li a.active, body.orange-2 .filter li a:hover, body.orange-2 .products .pro-info .btn-1:hover {
	background: #e48f4c;
	border-color: #e48f4c;
}
body.orange-2 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.orange-2 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.orange-2 .products .pro-info .btn {
}
body.orange-2 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.orange-2 section.quote .btn{
     background: #e48f4c;
}
body.orange-2 section.quote .btn:hover{
     background: white;
     color: #e48f4c;
}
body.orange-2 .dropdown-menu > .active > a{
  background-color: #e48f4c;
}

/*============================================

	'Hex': '#ec005f',  'colorName': 'pink'

============================================*/
body.pink #pricing li:hover .price-inner {
    border: 1px solid #ec005f;
}
body.pink #banner .text-slider h3, body.pink .port-over .over-info, body.pink .inspectors .teach-over, body.pink #testimonial .carousel-indicators li .feeder-name {
	background: rgba(236, 0, 95,0.8);
}
body.pink #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #ec005f;
}
body.pink #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.pink .missing-2 .cont .change {
	color: #ec005f;
}
body.pink #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.pink #banner .text-slider button.btn {
	background: #ec005f;
	border: none;
}
body.pink #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.pink #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.pink #banner .text-slider .btn:hover {
	background: #ec005f;
	border-color: #ec005f;
}
body.pink .top-bar, body.pink header nav li a:hover {
	border-color: #ec005f;
}
body.pink .pagination > li > a:hover, body.pink .intrested-2 {
	background: #ec005f;
}
body.pink #pricing.pricing-2 .price-inner.papu {
	border-top-color: #ec005f;
}
body.pink #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.pink .tittle h3, #feature li:hover .icon, body.pink .port-over .over-info a:hover {
	color: #ec005f;
}
body.pink #pricing .price-inner .check-gr i {
	color: #ec005f !important;
}
body.pink #pricing .price-inner .btn, body.pink .logo a .logo-hex {
	background: #ec005f;
}
body.pink #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.pink .quote .btn:hover {
	color: #ec005f;
}
body.pink header .navbar-default .navbar-nav > li > a:hover, body.pink .navbar-default .navbar-nav > li > a:focus {
	color: #ec005f;
}
body.pink header .navbar-default .navbar-nav > .active > a, body.pink .navbar-default .navbar-nav > .active > a:hover, body.pink .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #ec005f;
	color: #ec005f;
}
body.pink .btn, body.pink .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.pink .btn:hover, body.pink .intrested-2 .intres-lesson .btn:hover {
	background: #ec005f;
}
body.pink .quote, body.pink footer button, body.pink .intres-lesson .btn, body.pink .products .pro-info .btn, body.pink .nav-tabs .nav-pills > li.active > a, body.pink .nav-pills > li.active > a:hover, body.pink .nav-pills > li.active > a:focus {
	background: #ec005f;
}
body.pink .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.pink #feature li:hover .inner, body.pink .filter li a.active, body.pink .filter li a:hover, body.pink .products .pro-info .btn-1:hover {
	background: #ec005f;
	border-color: #ec005f;
}
body.pink #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.pink #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.pink .products .pro-info .btn {
}
body.pink #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.pink section.quote .btn{
     background: #ec005f;
}
body.pink section.quote .btn:hover{
     background: white;
     color: #ec005f;
}
body.pink .dropdown-menu > .active > a{
  background-color: #ec005f;
}

/*============================================

	'Hex': '#563d7c',  'colorName': 'purple-1'

============================================*/
body.purple-1 #pricing li:hover .price-inner {
    border: 1px solid #563d7c;
}
body.purple-1 #banner .text-slider h3, body.purple-1 .port-over .over-info, body.purple-1 .inspectors .teach-over, body.purple-1 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(86, 61, 124,0.8);
}
body.purple-1 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #563d7c;
}
body.purple-1 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.purple-1 .missing-2 .cont .change {
	color: #563d7c;
}
body.purple-1 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.purple-1 #banner .text-slider button.btn {
	background: #563d7c;
	border: none;
}
body.purple-1 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.purple-1 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.purple-1 #banner .text-slider .btn:hover {
	background: #563d7c;
	border-color: #563d7c;
}
body.purple-1 .top-bar, body.purple-1 header nav li a:hover {
	border-color: #563d7c;
}
body.purple-1 .pagination > li > a:hover, body.purple-1 .intrested-2 {
	background: #563d7c;
}
body.purple-1 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #563d7c;
}
body.purple-1 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.purple-1 .tittle h3, #feature li:hover .icon, body.purple-1 .port-over .over-info a:hover {
	color: #563d7c;
}
body.purple-1 #pricing .price-inner .check-gr i {
	color: #563d7c !important;
}
body.purple-1 #pricing .price-inner .btn, body.purple-1 .logo a .logo-hex {
	background: #563d7c;
}
body.purple-1 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.purple-1 .quote .btn:hover {
	color: #563d7c;
}
body.purple-1 header .navbar-default .navbar-nav > li > a:hover, body.purple-1 .navbar-default .navbar-nav > li > a:focus {
	color: #563d7c;
}
body.purple-1 header .navbar-default .navbar-nav > .active > a, body.purple-1 .navbar-default .navbar-nav > .active > a:hover, body.purple-1 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #563d7c;
	color: #563d7c;
}
body.purple-1 .btn, body.purple-1 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.purple-1 .btn:hover, body.purple-1 .intrested-2 .intres-lesson .btn:hover {
	background: #563d7c;
}
body.purple-1 .quote, body.purple-1 footer button, body.purple-1 .intres-lesson .btn, body.purple-1 .products .pro-info .btn, body.purple-1 .nav-tabs .nav-pills > li.active > a, body.purple-1 .nav-pills > li.active > a:hover, body.purple-1 .nav-pills > li.active > a:focus {
	background: #563d7c;
}
body.purple-1 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.purple-1 #feature li:hover .inner, body.purple-1 .filter li a.active, body.purple-1 .filter li a:hover, body.purple-1 .products .pro-info .btn-1:hover {
	background: #563d7c;
	border-color: #563d7c;
}
body.purple-1 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.purple-1 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.purple-1 .products .pro-info .btn {
}
body.purple-1 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.purple-1 section.quote .btn{
     background: #563d7c;
}
body.purple-1 section.quote .btn:hover{
     background: white;
     color: #563d7c;
}
body.purple-1 .dropdown-menu > .active > a{
  background-color: #563d7c;
}

/*============================================

	'Hex': '#685ab1',  'colorName': 'purple-2'

============================================*/
body.purple-2 #pricing li:hover .price-inner {
    border: 1px solid #685ab1;
}
body.purple-2 #banner .text-slider h3, body.purple-2 .port-over .over-info, body.purple-2 .inspectors .teach-over, body.purple-2 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(104, 90, 177, 0.8);
}
body.purple-2 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #685ab1;
}
body.purple-2 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.purple-2 .missing-2 .cont .change {
	color: #685ab1;
}
body.purple-2 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.purple-2 #banner .text-slider button.btn {
	background: #685ab1;
	border: none;
}
body.purple-2 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.purple-2 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.purple-2 #banner .text-slider .btn:hover {
	background: #685ab1;
	border-color: #685ab1;
}
body.purple-2 .top-bar, body.purple-2 header nav li a:hover {
	border-color: #685ab1;
}
body.purple-2 .pagination > li > a:hover, body.purple-2 .intrested-2 {
	background: #685ab1;
}
body.purple-2 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #685ab1;
}
body.purple-2 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.purple-2 .tittle h3, #feature li:hover .icon, body.purple-2 .port-over .over-info a:hover {
	color: #685ab1;
}
body.purple-2 #pricing .price-inner .check-gr i {
	color: #685ab1 !important;
}
body.purple-2 #pricing .price-inner .btn, body.purple-2 .logo a .logo-hex {
	background: #685ab1;
}
body.purple-2 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.purple-2 .quote .btn:hover {
	color: #685ab1;
}
body.purple-2 header .navbar-default .navbar-nav > li > a:hover, body.purple-2 .navbar-default .navbar-nav > li > a:focus {
	color: #685ab1;
}
body.purple-2 header .navbar-default .navbar-nav > .active > a, body.purple-2 .navbar-default .navbar-nav > .active > a:hover, body.purple-2 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #685ab1;
	color: #685ab1;
}
body.purple-2 .btn, body.purple-2 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.purple-2 .btn:hover, body.purple-2 .intrested-2 .intres-lesson .btn:hover {
	background: #685ab1;
}
body.purple-2 .quote, body.purple-2 footer button, body.purple-2 .intres-lesson .btn, body.purple-2 .products .pro-info .btn, body.purple-2 .nav-tabs .nav-pills > li.active > a, body.purple-2 .nav-pills > li.active > a:hover, body.purple-2 .nav-pills > li.active > a:focus {
	background: #685ab1;
}
body.purple-2 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.purple-2 #feature li:hover .inner, body.purple-2 .filter li a.active, body.purple-2 .filter li a:hover, body.purple-2 .products .pro-info .btn-1:hover {
	background: #685ab1;
	border-color: #685ab1;
}
body.purple-2 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.purple-2 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.purple-2 .products .pro-info .btn {
}
body.purple-2 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.purple-2 section.quote .btn{
     background: #685ab1;
}
body.purple-2 section.quote .btn:hover{
     background: white;
     color: #685ab1;
}
body.purple-2 .dropdown-menu > .active > a{
  background-color: #685ab1;
}

/*============================================

	'Hex': '#dc143c',  'colorName': 'red-1'

============================================*/
body.red-1 #pricing li:hover .price-inner {
    border: 1px solid #dc143c;
}
body.red-1 #banner .text-slider h3, body.red-1 .port-over .over-info, body.red-1 .inspectors .teach-over, body.red-1 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(220, 20, 60,0.8);
}
body.red-1 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #dc143c;
}
body.red-1 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.red-1 .missing-2 .cont .change {
	color: #dc143c;
}
body.red-1 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.red-1 #banner .text-slider button.btn {
	background: #dc143c;
	border: none;
}
body.red-1 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.red-1 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.red-1 #banner .text-slider .btn:hover {
	background: #dc143c;
	border-color: #dc143c;
}
body.red-1 .top-bar, body.red-1 header nav li a:hover {
	border-color: #dc143c;
}
body.red-1 .pagination > li > a:hover, body.red-1 .intrested-2 {
	background: #dc143c;
}
body.red-1 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #dc143c;
}
body.red-1 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.red-1 .tittle h3, #feature li:hover .icon, body.red-1 .port-over .over-info a:hover {
	color: #dc143c;
}
body.red-1 #pricing .price-inner .check-gr i {
	color: #dc143c !important;
}
body.red-1 #pricing .price-inner .btn, body.red-1 .logo a .logo-hex {
	background: #dc143c;
}
body.red-1 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.red-1 .quote .btn:hover {
	color: #dc143c;
}
body.red-1 header .navbar-default .navbar-nav > li > a:hover, body.red-1 .navbar-default .navbar-nav > li > a:focus {
	color: #dc143c;
}
body.red-1 header .navbar-default .navbar-nav > .active > a, body.red-1 .navbar-default .navbar-nav > .active > a:hover, body.red-1 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #dc143c;
	color: #dc143c;
}
body.red-1 .btn, body.red-1 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.red-1 .btn:hover, body.red-1 .intrested-2 .intres-lesson .btn:hover {
	background: #dc143c;
}
body.red-1 .quote, body.red-1 footer button, body.red-1 .intres-lesson .btn, body.red-1 .products .pro-info .btn, body.red-1 .nav-tabs .nav-pills > li.active > a, body.red-1 .nav-pills > li.active > a:hover, body.red-1 .nav-pills > li.active > a:focus {
	background: #dc143c;
}
body.red-1 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.red-1 #feature li:hover .inner, body.red-1 .filter li a.active, body.red-1 .filter li a:hover, body.red-1 .products .pro-info .btn-1:hover {
	background: #dc143c;
	border-color: #dc143c;
}
body.red-1 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.red-1 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.red-1 .products .pro-info .btn {
}
body.red-1 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.red-1 section.quote .btn{
     background: #dc143c;
}
body.red-1 section.quote .btn:hover{
     background: white;
     color: #dc143c;
}
body.red-1 .dropdown-menu > .active > a{
  background-color: #dc143c;
}

/*============================================

	'Hex': '#d80018',  'colorName': 'red-2'

============================================*/
body.red-2 #pricing li:hover .price-inner {
    border: 1px solid #d80018;
}
body.red-2 #banner .text-slider h3, body.red-2 .port-over .over-info, body.red-2 .inspectors .teach-over, body.red-2 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(216, 0, 24,0.8);
}
body.red-2 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #d80018;
}
body.red-2 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.red-2 .missing-2 .cont .change {
	color: #d80018;
}
body.red-2 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.red-2 #banner .text-slider button.btn {
	background: #d80018;
	border: none;
}
body.red-2 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.red-2 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.red-2 #banner .text-slider .btn:hover {
	background: #d80018;
	border-color: #d80018;
}
body.red-2 .top-bar, body.red-2 header nav li a:hover {
	border-color: #d80018;
}
body.red-2 .pagination > li > a:hover, body.red-2 .intrested-2 {
	background: #d80018;
}
body.red-2 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #d80018;
}
body.red-2 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.red-2 .tittle h3, #feature li:hover .icon, body.red-2 .port-over .over-info a:hover {
	color: #d80018;
}
body.red-2 #pricing .price-inner .check-gr i {
	color: #d80018 !important;
}
body.red-2 #pricing .price-inner .btn, body.red-2 .logo a .logo-hex {
	background: #d80018;
}
body.red-2 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.red-2 .quote .btn:hover {
	color: #d80018;
}
body.red-2 header .navbar-default .navbar-nav > li > a:hover, body.red-2 .navbar-default .navbar-nav > li > a:focus {
	color: #d80018;
}
body.red-2 header .navbar-default .navbar-nav > .active > a, body.red-2 .navbar-default .navbar-nav > .active > a:hover, body.red-2 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #d80018;
	color: #d80018;
}
body.red-2 .btn, body.red-2 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.red-2 .btn:hover, body.red-2 .intrested-2 .intres-lesson .btn:hover {
	background: #d80018;
}
body.red-2 .quote, body.red-2 footer button, body.red-2 .intres-lesson .btn, body.red-2 .products .pro-info .btn, body.red-2 .nav-tabs .nav-pills > li.active > a, body.red-2 .nav-pills > li.active > a:hover, body.red-2 .nav-pills > li.active > a:focus {
	background: #d80018;
}
body.red-2 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.red-2 #feature li:hover .inner, body.red-2 .filter li a.active, body.red-2 .filter li a:hover, body.red-2 .products .pro-info .btn-1:hover {
	background: #d80018;
	border-color: #d80018;
}
body.red-2 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.red-2 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.red-2 .products .pro-info .btn {
}
body.red-2 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.red-2 section.quote .btn{
     background: #d80018;
}
body.red-2 section.quote .btn:hover{
     background: white;
     color: #d80018;
}
body.red-2 .dropdown-menu > .active > a{
  background-color: #d80018;
}
/*============================================

	'Hex': '#f1be03',  'colorName': 'yellow-1'

============================================*/
body.yellow-1 #pricing li:hover .price-inner {
    border: 1px solid #f1be03;
}
body.yellow-1 #banner .text-slider h3, body.yellow-1 .port-over .over-info, body.yellow-1 .inspectors .teach-over, body.yellow-1 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(241, 190, 3,0.8);
}
body.yellow-1 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #f1be03;
}
body.yellow-1 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.yellow-1 .missing-2 .cont .change {
	color: #f1be03;
}
body.yellow-1 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.yellow-1 #banner .text-slider button.btn {
	background: #f1be03;
	border: none;
}
body.yellow-1 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.yellow-1 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.yellow-1 #banner .text-slider .btn:hover {
	background: #f1be03;
	border-color: #f1be03;
}
body.yellow-1 .top-bar, body.yellow-1 header nav li a:hover {
	border-color: #f1be03;
}
body.yellow-1 .pagination > li > a:hover, body.yellow-1 .intrested-2 {
	background: #f1be03;
}
body.yellow-1 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #f1be03;
}
body.yellow-1 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.yellow-1 .tittle h3, #feature li:hover .icon, body.yellow-1 .port-over .over-info a:hover {
	color: #f1be03;
}
body.yellow-1 #pricing .price-inner .check-gr i {
	color: #f1be03 !important;
}
body.yellow-1 #pricing .price-inner .btn, body.yellow-1 .logo a .logo-hex {
	background: #f1be03;
}
body.yellow-1 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.yellow-1 .quote .btn:hover {
	color: #f1be03;
}
body.yellow-1 header .navbar-default .navbar-nav > li > a:hover, body.yellow-1 .navbar-default .navbar-nav > li > a:focus {
	color: #f1be03;
}
body.yellow-1 header .navbar-default .navbar-nav > .active > a, body.yellow-1 .navbar-default .navbar-nav > .active > a:hover, body.yellow-1 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #f1be03;
	color: #f1be03;
}
body.yellow-1 .btn, body.yellow-1 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.yellow-1 .btn:hover, body.yellow-1 .intrested-2 .intres-lesson .btn:hover {
	background: #f1be03;
}
body.yellow-1 .quote, body.yellow-1 footer button, body.yellow-1 .intres-lesson .btn, body.yellow-1 .products .pro-info .btn, body.yellow-1 .nav-tabs .nav-pills > li.active > a, body.yellow-1 .nav-pills > li.active > a:hover, body.yellow-1 .nav-pills > li.active > a:focus {
	background: #f1be03;
}
body.yellow-1 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.yellow-1 #feature li:hover .inner, body.yellow-1 .filter li a.active, body.yellow-1 .filter li a:hover, body.yellow-1 .products .pro-info .btn-1:hover {
	background: #f1be03;
	border-color: #f1be03;
}
body.yellow-1 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.yellow-1 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.yellow-1 .products .pro-info .btn {
}
body.yellow-1 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.yellow-1 section.quote .btn{
     background: #f1be03;
}
body.yellow-1 section.quote .btn:hover{
     background: white;
     color: #f1be03;
}
body.yellow-1 .dropdown-menu > .active > a{
  background-color: #f1be03;
}

/*============================================

	Hex: '#e3c552',  'colorName': 'yellow-2'

============================================*/
body.yellow-2 #pricing li:hover .price-inner {
    border: 1px solid #e3c552;
}
body.yellow-2 #banner .text-slider h3, body.yellow-2 .port-over .over-info, body.yellow-2 .inspectors .teach-over, body.yellow-2 #testimonial .carousel-indicators li .feeder-name {
	background: rgba(227, 197, 82, 0.8);
}
body.yellow-2 #accordion .panel-default > .panel-heading .panel-title a:before {
	color: #e3c552;
}
body.yellow-2 #accordion .panel-default > .panel-heading .panel-title a.collapsed:before, body.yellow-2 .missing-2 .cont .change {
	color: #e3c552;
}
body.yellow-2 #banner .text-slider .btn {
	border: 2px solid #fff;
	background: rgba(0,0,0,0.2);
}
body.yellow-2 #banner .text-slider button.btn {
	background: #e3c552;
	border: none;
}
body.yellow-2 #banner .text-slider button.btn:hover {
	background: rgba(0,0,0,0.5);
}
body.yellow-2 #feature li a:hover {
	background: rgba(255,255,255,0.2);
	border-color: rgba(255,255,255,0.2);
}
body.yellow-2 #banner .text-slider .btn:hover {
	background: #e3c552;
	border-color: #e3c552;
}
body.yellow-2 .top-bar, body.yellow-2 header nav li a:hover {
	border-color: #e3c552;
}
body.yellow-2 .pagination > li > a:hover, body.yellow-2 .intrested-2 {
	background: #e3c552;
}
body.yellow-2 #pricing.pricing-2 .price-inner.papu {
	border-top-color: #e3c552;
}
body.yellow-2 #banner .text-slider p {
	background: rgba(0,0,0,0.5);
}
body.yellow-2 .tittle h3, #feature li:hover .icon, body.yellow-2 .port-over .over-info a:hover {
	color: #e3c552;
}
body.yellow-2 #pricing .price-inner .check-gr i {
	color: #e3c552 !important;
}
body.yellow-2 #pricing .price-inner .btn, body.yellow-2 .logo a .logo-hex {
	background: #e3c552;
}
body.yellow-2 #pricing .price-inner .btn:hover {
	background: #4d4d4d;
}
body.yellow-2 .quote .btn:hover {
	color: #e3c552;
}
body.yellow-2 header .navbar-default .navbar-nav > li > a:hover, body.yellow-2 .navbar-default .navbar-nav > li > a:focus {
	color: #e3c552;
}
body.yellow-2 header .navbar-default .navbar-nav > .active > a, body.yellow-2 .navbar-default .navbar-nav > .active > a:hover, body.yellow-2 .navbar-default .navbar-nav > .active > a:focus {
	border-bottom: 2px solid #e3c552;
	color: #e3c552;
}
body.yellow-2 .btn, body.yellow-2 .intrested-2 .intres-lesson .btn {
	background: #4d4d4d;
}
body.yellow-2 .btn:hover, body.yellow-2 .intrested-2 .intres-lesson .btn:hover {
	background: #e3c552;
}
body.yellow-2 .quote, body.yellow-2 footer button, body.yellow-2 .intres-lesson .btn, body.yellow-2 .products .pro-info .btn, body.yellow-2 .nav-tabs .nav-pills > li.active > a, body.yellow-2 .nav-pills > li.active > a:hover, body.yellow-2 .nav-pills > li.active > a:focus {
	background: #e3c552;
}
body.yellow-2 .products .pro-info .btn-1 {
	background: #f8f8f8;
}
body.yellow-2 #feature li:hover .inner, body.yellow-2 .filter li a.active, body.yellow-2 .filter li a:hover, body.yellow-2 .products .pro-info .btn-1:hover {
	background: #e3c552;
	border-color: #e3c552;
}
body.yellow-2 #pricing .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.yellow-2 #pricing li:hover .price-head {
	background: url(https://mifincaraiz.github.io/index/wp-content/themes/driveme/images/price-bg-2.png) top center no-repeat;
}
body.yellow-2 .products .pro-info .btn {
}
body.yellow-2 #pricing.pricing-2 li .price-head {
	background: none !important;
}
body.yellow-2 section.quote .btn{
     background: #e3c552;
}
body.yellow-2 section.quote .btn:hover{
     background: white;
     color: #e3c552;
}
body.yellow-2 .dropdown-menu > .active > a{
  background-color: #e3c552;
}